body {
    /* Mise en place d' une meilleure police d'écriture  */
    font-family: Arial, sans-serif;
    /* Image qui est mise en fond d'écran  */
    background-image: url('../images/aconcagua_fond.png');
    /* propriété qui fait que l'image de fond recouvre tout le fond (et ne se répète pas si elle est trop petite) */
    background-size: cover;
    /* ça permet d'aligner les balises qui sont dans le body au centre du body  */
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    height: 100%;
    back
}
/*Allique le texte au centre de ul*/
ul{

    text-align: center;
}

li{
    list-style-type: none;
    margin: 0 10px;
}
.image{
    display: flex;
    justify-content: center;
}
.imageLeftText{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
    width: 100%;
}

.image-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}



.tableau{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tableau > table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

.tableau > table > tr{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    background-color: #f2f2f2;
}

.tableau > table > tr > th{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    background-color: #4c669f;
    color: white;
}