body {
    /* Mise en place d' une meilleure police d'écriture  */
    font-family: Arial, sans-serif;
    /* Image qui est mise en fond d'écran  */
    background-image: url('../images/aconcagua_fond.png');
    /* propriété qui fait que l'image de fond recouvre tout le fond (et ne se répète pas si elle est trop petite) */
    background-size: cover;
    /* ça permet d'aligner les balises qui sont dans le body au centre du body  */
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    height: 100%;
    back
}